@using BookTracker.Views

@{
    Layout = "~/Views/Book/_Layout.cshtml";
    ViewData[ViewDataConstants.RightViewBodyTitle] = "Find Books";
}

<div id="book-search-app" class="book-search-container">
    <input class="book-search-input" v-model="bookSearchQuery" v-on:keyup.enter="searchBooks" />
    <i class="fas fa-search book-search-icon" v-on:click="searchBooks"></i>
</div>
<div id="book-search-results-app" class="book-search-results-container">
    <div v-if="isLoading" class="loading-indicator-container">
        <i class="fas fa-book search-results-book-icon" id="loading-indicator"></i>
    </div>
    <div v-else-if="hasError" class="error-result-text">
        <i class="fas fa-book search-results-book-icon"></i>
        <div>{{errorText}}</div>
    </div>
    <div v-else-if="results.length == 0" class="no-results-text">
        <i class="fas fa-book search-results-book-icon"></i>
        <div>Please enter a search to display results</div>
    </div>
    <div v-else>
        <ul class="book-search-result-list">
            <li v-for="result in results" class="book-result-card-list-item" v-on:click="bookClicked(result)">
                <div class="book-card book-result-card" v-show="result.isExpanded == false">
                    <div class="book-result-text-content">
                        <div class="book-result-title">
                            {{result.title}}
                        </div>
                        <div class="book-result-year">
                            ({{result.year}})
                        </div>
                        <div class="book-result-authors">
                            {{result.authors}}
                        </div>
                        <div class="book-result-description">
                            {{result.description}}
                        </div>
                    </div>
                    <img v-bind:src="result.coverImageUrl" class="book-result-image" />
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="book-detail-app" class="book-detail-background" v-show="isDisplayed" v-on:click.self="closeDetail">
    <div class="book-card book-detail-card">
        <i class="fas fa-times detail-close-icon" v-on:click="closeDetail"></i>
        <div class="book-detail-header">
            <img class="book-detail-image" v-bind:src="focusedBook.coverImageUrl" />
            <div class="book-detail-title-text-content">
                <div id="book-detail-title" class="book-result-title">
                    {{focusedBook.title}}
                </div>
                <div>
                    {{focusedBook.publishedDate}}
                </div>
                <div>
                    {{focusedBook.authors}}
                </div>
                <div v-if="isNaN(parseInt(focusedBook.rating)) == false">
                    <div class="book-detail-rating-stars">
                        <i class="fas fa-star book-review-star" v-for="n in parseInt(focusedBook.rating)"></i>
                        <i class="fas fa-star-half book-review-star" v-show="hasPartialStar()"></i>
                    </div>
                    <div class="book-detail-rating-value">
                        {{focusedBook.rating}}<span class="book-rating-out-of">/5.0</span>
                    </div>
                    <div class="book-detail-rating-count">
                        ({{focusedBook.ratingCount}})
                    </div>
                </div>
                <div v-show="focusedBook && focusedBook.pageCount && focusedBook.pageCount.length > 0">
                    {{focusedBook.pageCount}} pages
                </div>
                <div>
                    {{focusedBook.genres}}
                </div>
            </div>
        </div>
        <div id="book-detail-description" class="book-detail-description" v-bind:class="{ 'expanded-detail-description': isDescriptionExpanded }">
            {{focusedBook.description}}
            <div v-show="isDescriptionExpanded == false" class="expand-description-indicator" v-on:click="expandDescription">
                <i class="fas fa-angle-down"></i>
            </div>
            <div v-show="isDescriptionExpanded" class="collapse-description-indicator" v-on:click="collapseDescription">
                <i class="fas fa-angle-up"></i>
            </div>
        </div>
        <div class="book-detail-action-pane">
            <div class="book-action-loading-pane" v-show="isLoading">
                <i class="fas fa-spinner loading-spinner"></i>
            </div>
            <div class="book-detail-action-pane-inner" v-show="!isLoading">
                <div id="mark-as-button"
                     class="action-button book-detail-action-button"
                     v-on:click="changeMarkAsMenu">
                    Mark As...
                </div>
                <div id="mark-as-sub-buttons-upper" class="book-detail-sub-button-container-upper">
                    <div id="mark-as-sub-buttons-lower" class="book-detail-sub-button-container-lower">
                        <div class="action-button book-detail-sub-button" v-bind:class="{ 'active-sub-button': focusedBookProperties.isCurrentlyReading }" v-on:click="currentlyReadingClicked">
                            Currently Reading
                        </div>
                        <div class="action-button book-detail-sub-button" v-bind:class="{ 'active-sub-button': focusedBookProperties.isBookToRead }" v-on:click="upNextClicked">
                            Up Next
                        </div>
                        <div class="action-button action-small-button">
                            Already Read?
                        </div>
                    </div>
                </div>
                <div id="add-to-button"
                     class="action-button book-detail-action-button"
                     v-on:click="changeAddToMenu">
                    Add To...
                </div>
                <div id="add-to-sub-buttons-upper" class="book-detail-sub-button-container-upper">
                    <div id="add-to-sub-buttons-lower" class="book-detail-sub-button-container-lower">
                        <div class="action-button book-detail-sub-button" v-bind:class="{ 'active-sub-button': focusedBookProperties.isInBookshelf }" v-on:click="bookshelfClicked">
                            Bookshelf
                        </div>
                        <div class="action-button book-detail-sub-button" v-bind:class="{ 'active-sub-button': focusedBookProperties.isInterestedIn }" v-on:click="interestedInClicked">
                            Interested In
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>